@model RazorPageFoodie.Models.Wrapper

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recipe.Name" class="control-label"></label>
                <input asp-for="Recipe.Name" class="form-control" />
                <span asp-validation-for="Recipe.Name" class="text-danger"></span>
            </div>
            <div>
                <div class="form-group">
                    <label asp-for="RecipeItem.Name" class="control-label"></label>
                    <input asp-for="RecipeItem.Name" class="form-control" />
                    <span asp-validation-for="RecipeItem.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RecipeItem.Amount" class="control-label"></label>
                    <input asp-for="RecipeItem.Amount" class="form-control" />
                    <span asp-validation-for="RecipeItem.Amount" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.CookingSteps" class="control-label"></label>
                <textarea asp-for="Recipe.CookingSteps" class="form-control rounded-border" rows="8"></textarea>
                <span asp-validation-for="Recipe.CookingSteps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Introduction" class="control-label"></label>
                <textarea asp-for="Recipe.Introduction" class="form-control rounded-border" rows="5"></textarea>
                <div asp-validation-summary="All" class="text-secondary"></div>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.ImageFile" class="control-label"></label>
                <input type="file" asp-for="Recipe.ImageFile" class="form-control" />
                <span asp-validation-for="Recipe.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


