@{
    ViewData["Title"] = "Home Page";
}

<div>
    <br></br>
    <img src="/images/BigLove.jpg" class="ml-1 mr-3" style="min-height: 60px"/>
</div>
<br />
<div class="text-center">
    <p>Recipes for you!</p>
</div>
<div class="container" style="margin-top: 10vh">
    <div class="row mb-2 bg-light">
        <div class="col my-2 py-1 d-flex justify-content-center">
            
  
        </div>
    </div>
</div>
